<!-- $Id: mail.html,v 1.3 2003/07/31 00:12:32 gunnarh Exp $ -->
<table width="590" cellpadding="15" cellspacing="0" border="0">
<tr>
<td class="margcell" style="vertical-align: top">
<form method="post" action="%SCRIPTURL%">
<div class="button">
<input class="button" %NS4WIDTH% type="button" value="%HOME%"
onclick="top.location='%HOMEURL%'" /></div>
%RINGLISTBUTTON%
</form>
</td>
<td>
<table width="400"><tr><td class="top">
<span class="title">%BODYTITLE%</span>
%RING_SITE%
</td></tr></table>
</td>
</tr>
<tr>
<td colspan="2">
%RESULT%
</td>
</tr>
</table>

