<!-- $Id: main.html,v 1.3 2003/07/31 00:12:32 gunnarh Exp $ -->
<table width="590" cellpadding="40" cellspacing="0" border="0">
<tr>
<td>
%RINGLOGO%
<h3 style="margin-top: 0">%RINGTITLE%</h3>
<span><a href="%RINGURL%" target="_top">
%RINGHOME%</a></span>
<br style="clear: right" /><hr /><br />
%RESULT%
<br />
<table width="100%" cellpadding="7">
<tr>
<td><span><a href="%RINGURL%" target="_top">
%RINGTITLE% &#8226; %RINGHOME2%</a></span></td>
<td style="text-align: right" class="top"><span class="right">
<a href="http://ringdir.ringlink.org/" target="_top">Ringlink Webring Directory</a>
</span></td>
</tr>
<tr>
<td>
<span class="small"><a href="%HOMEURL%" target="_top">
%SYSTEMTITLE%</a></span></td>
<td class="right"><span class="small" style="text-align: right">
%POWEREDBY% <a href="http://www.ringlink.org/" target="_top">Ringlink</a>
</span></td>
</tr>
</table>
</td>
</tr>
</table>

